<action-def> ::= (:action <action-symbol>
  :parameters (<typed list (variable)>)
  <action-def body>)
<action-symbol> ::= <name>
<action-def body> ::= [:precondition <emptyOr (pre-GD)>]
  [:effect <emptyOr (effect)>]

<pre-GD> ::= <pref-GD>
<pre-GD> ::= (and <pre-GD>*)
<pre-GD> ::= :universal−preconditions (forall (<typed list(variable)>) <pre-GD>)
<pref-GD>::= :preferences (preference [<pref-name>] <GD>)
<pref-GD> ::= <GD>
<pref-name> ::= <name>
<GD> ::= <atomic formula(term)>
<GD> ::= :negative−preconditions <literal(term)>
<GD> ::= (and <GD>*)
<GD> ::= :disjunctive−preconditions (or <GD>*)
<GD> ::= :disjunctive−preconditions (not <GD>)
<GD> ::= :disjunctive−preconditions (imply <GD> <GD>)
<GD> ::= :existential−preconditions (exists (<typed list(variable)>) <GD> )
<GD> ::= :universal−preconditions (forall (<typed list(variable)>) <GD> )
<GD> ::= :numeric - fluents <f-comp>
